datasets
langchain-groq
langchain-openai
langchain-anthropic
langchain-google-genai
langchain-community
langgraph
langsmith
python-dotenv
ragas
mcp[cli]
language-tool-python
PyPDF2
python-docx
markdown
pdfplumber
python-magic
chardet
mammoth
pyyaml
google-generativeai